@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-9 {
    width: 75%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.w-100 {
    width: 100%;
}

.bg-image {
    background-image: url(../images/Rectangle\ 18.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* z-index: -1; */

}

.events {
    color: #2C49FE;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;

}

.free {
    color: #01C8FF;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
}

.buttons {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    background-color: #2C49FE;
    border: none;
    padding: 11px 28px;
    border-radius: 23px;
}

.btn:hover {
    background-color: #FFF;
    color: #2C49FE;
}

.curser-pointer {
    cursor: pointer;
}

.d-flex {
    display: flex;
}

.align-item-center {
    align-items: center;
}

.j-c-s-b {
    justify-content: space-between;
}

.j-c-c {
    justify-content: center;
}

.gap-55 {
    gap: 55px;
}

.padding-top {
    padding-top: 15px;
}

.heading-1 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 150.5%;
    max-width: 1044px;
}

.paragraph {
    color: #FFF;
    font-family: 'Yantramanav', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 760px;
    padding-bottom: 30px;
    padding-top: 15px;
}

.btn-2 {
    color: #2C49FE;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 1px solid #2C49FE;
    border-radius: 150px;
    background: #FFF;
    padding: 12px 33px;
    white-space: nowrap;
    /* margin-top: 0; */

}

.btn-2:hover {
    background: #2C49FE;
    color: #FFF;
    border: 1px solid #ffffff;
}

.flex-grow {
    flex-grow: 1;
}

.min-vh-100 {
    min-height: 100vh;
}

.text {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-left: 10px;

}

.underline {
    position: relative;
}

.underline::before {
    content: "";
    position: absolute;
    width: 85%;
    height: 5px;
    background: #2C49FE;
    left: 0;
    bottom: -3%;
}

.underline::after {
    content: "";
    position: absolute;
    width: 15%;
    height: 5px;
    background: #01C8FF;
    right: 0;
    bottom: -3%;
}

.flex-direction {
    flex-direction: column;
}

.border-right-1 {
    border-right: 2px solid #fff;
}

.border-right-2 {
    border-right: 2px solid #fff;
}

.border-right-3 {
    border-right: 2px solid #fff;
}

.padding-left {
    padding-left: 10px;
}

.location {
    color: #FFF;
    font-family: 'Yantramanav', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 15px;
}

.search {
    color: rgba(255, 255, 255, 0.70);
    font-family: 'Yantramanav', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 15px;
}

.box {
    border-radius: 50px;
    background: rgba(44, 73, 254, 0.74);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 50px;
    margin-top: 70px;
    max-width: 962px;


}

.padding-bottom {
    padding-bottom: 90px;
}

.upperline {
    position: relative;
}

.upperline::after {
    content: "";
    position: absolute;
    width: 60%;
    height: 4px;
    background: #2C49FE;
    left: 0;
}

.upperline::before {
    content: "";
    position: absolute;
    width: 10%;
    height: 4px;
    background: #01C8FF;
    right: 32%;
}

.relative {
    position: relative;
}

.heading-2 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* max-width: 583px; */


}

.paragraph-2 {
    color: rgba(0, 0, 0, 0.70);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 663;
    margin-bottom: 46px;
    margin-top: 5px;
}

.circle {
    border: 2px solid #2c49fe;
    border-radius: 79px;
    height: 79px;
    width: 79px;
    background-color: #FFF;

}

.absolute-2 {
    position: absolute;
    top: -23%;
    left: 34%;


}

.sharing {
    color: #2C49FE;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;

}

.sharing-text {
    color: #2D3CAE;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    max-width: 220px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.absolute {
    position: absolute;
    top: 43%;
    right: 42%;
}

.svg {
    border: 3px solid #fff;
    border-radius: 70px;
    width: 55px;
    height: 55px;
}

.text-box {
    border: 2px solid #2C49FE;
    border-radius: 5px;
    padding-top: 35px;


}

.text-box:hover p {
    background-color: #2C49FE;
    color: #FFF;
}

.text-box:hover {
    background-color: #2C49FE;

}

.margin-my {
    margin-top: 44px;

}

.bg-color {
    background-image: url(../images/Group\ 48095505.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.text-align-center {
    text-align: center;
}

.heading-3 {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    max-width: 708px;

}

.paragraph-3 {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 765px;
    padding-top: 40px;
    padding-bottom: 80px;
}

.number {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-2 {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}


.heading-4 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 136.505%;
    max-width: 338px;
}

.paragraph-4 {
    color: rgba(0, 0, 0, 0.70);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 12px;
    padding-bottom: 15px;
}

.learn-more {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.date {
    color: rgba(0, 0, 0, 0.70);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.text-3 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 5px;
}

.text-4 {
    color: rgba(0, 0, 0, 0.70);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 270px;
}

.line {
    position: relative;
}

.line::before {
    content: "";
    height: 5px;
    width: 70%;
    position: absolute;
    background: #2C49FE;
    left: 0;
}

.line::after {
    content: "";
    height: 5px;
    width: 5%;
    position: absolute;
    background: #01C8FF;
    right: 30%;
}

.absolute {
    position: absolute;
    right: 42%;
    top: 42%;
}

.card {
    border-radius: 5px;
    background: #FFF;
    padding: 10px;
}

.card:hover {
    border: 8px;
    box-shadow: 2px 9px 32px 0px rgba(0, 0, 0, 0.06);
}

.text-align-center {
    text-align: center;
}

.absolute-arrow {
    position: absolute;
    right: 0;
    top: 60%;
}

.padding-py {
    padding-top: 80px;
    padding-bottom: 80px;
}

.heading-5 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.paragraph-5 {
    color: rgba(0, 0, 0, 0.70);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 5px;
}

.sign-up {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 15px;
    padding-top: 15px;
}

.btn-sign-up {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    border-radius: 23px;
    background: #2C49FE;
    border: 2px solid #2C49FE;
    padding: 10px;
    width: 100%;
    margin-top: 10px;

}

.btn-sign-up:hover {
    background-color: #fff;
    border: 2px solid #2C49FE;
    color: #2C49FE;
}

.form {
    color: #4d4d4d;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #999999;
    border-radius: 5px;
    padding: 8px 11px;
}

.margin-top {
    margin-top: 85px;
}

.line-2 {
    position: relative;
}

.line-2::after {
    content: "";
    width: 30%;
    height: 6px;
    position: absolute;
    background: #2C49FE;

    left: 0;
}

.line-2::before {
    content: "";
    width: 4%;
    height: 6px;
    position: absolute;
    background: #01C8FF;
    right: 66%;

}

.footer-bg-color {
    background-color: #000000;
}

.paragraph-last {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 346px;
    padding-top: 36px;
    padding-bottom: 35px;
}

.gap-15 {
    gap: 15px;
}

.padding-py-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.services {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 36px;
}

.padding-top-36 {
    padding-top: 36px;
}

.padding-top-12 {
    padding-top: 12px;
}

/* .mb-30 {
    margin-top: 30px;
} */

.about {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.show-more {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;

}

.show-more:hover {
    background-color: #3e478f;
}

.square-box {
    width: 100%;
    height: 100%;
    background: rgba(45, 60, 174, 0.53);
}

.companyname {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 60px;
    padding-left: 0;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.margin-top-30 {
    margin-top: 30px;
}

.mt-30 {
    margin-top: 30px;
}

.mb {
    margin-bottom: 24px;
}

.margin-card {
    margin-bottom: 15px;
}

.bg-image-layer {
    position: relative;
}

.bg-image-layer::before {
    content: "";
    position: absolute;
    background: #250f08;
    opacity: 0.2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
}

.z-index {
    position: relative;
    z-index: 1;
}

@media(max-width:992px) {
    label[for="menuicon"] {
        height: 30px;
        width: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 2;
        top: 2%;
        right: 10%;
    }

    label[for="menuicon"]>span {
        width: 100%;
        height: 4px;
        background: white;
    }

    .menulist {
        height: 100vh;
        width: 100%;
        background-color: rgb(70, 70, 62);
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        align-items: center;
        justify-content: center;
        z-index: 1;
        transition: all 200ms linear;

    }

    input:checked~ul.menulist {
        right: 0;
    }
}

@media(min-width:576px) and (max-width:767px) {


    .box::after {
        content: "";
        height: 2px;
        width: 90%;
        position: absolute;
        top: 50%;
        background: #fff;
    }

    .box::before {
        content: "";
        height: 90%;
        width: 2px;
        position: absolute;
        left: 50%;
        background: #fff;
    }
}

@media(min-width:320px) {
    .absolute-arrow {
        position: absolute;
        right: 0;
        top: 70%;
    }

    .position {
        position: relative;
    }

    .paragraph {
        font-size: 18px;
    }

    .heading-1 {
        font-size: 24px;
    }

    .paragraph-3 {
        padding-bottom: 20px;
    }

    .padding-py {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .paragraph-last {
        padding-top: 22px;
        padding-bottom: 22px;
    }

    .padding-py-80 {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .events {
        font-size: 25px;
    }

    .free {
        font-size: 25px;
    }

    .services {
        padding-bottom: 10px;
    }

    .companyname {
        padding-right: 90px;
        font-size: 8px;
    }

    .btn-2 {
        padding: 8px 12px;
    }

    .show-more {
        font-size: 12px;
    }

    .text-box {
        margin-bottom: 45px;
    }

    .margin-my {
        margin-top: 0;
    }

    .border-right-1 {
        border-right: none;
    }

    .border-right-2 {
        border-right: none;
    }

    .border-right-3 {
        border-right: none;
    }

    .mt-30 {
        margin-top: 30px;
    }

    .margin-t-30 {
        margin-top: 20px;
    }

    .margin-20 {
        margin-top: 20px;

    }

    .heading-3 {
        font-size: 35px;
    }

    .number {
        font-size: 20px;
    }

}

@media(min-width:576px) {
    .absolute-arrow {
        position: absolute;
        right: 0;
        top: 80%;
    }

    .number {
        font-size: 25px;
    }

    .margin-20 {
        margin-top: 20px;

    }

    .heading-3 {
        font-size: 40px;
    }

    .btn-2 {
        padding: 12px 33px;
    }

    .mt-30 {
        margin-top: 0px;
    }

    .col-sm-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .text-2 {
        padding-bottom: 25px;
    }

    .paragraph-3 {
        padding-bottom: 20px;
    }

    .padding-py {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .paragraph-last {
        padding-top: 22px;
        padding-bottom: 22px;
    }

    .padding-py-80 {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .events {
        font-size: 25px;
    }

    .free {
        font-size: 25px;
    }

    .services {
        padding-bottom: 12px;
    }

    .companyname {
        font-size: 12px;
        padding-right: 90px;
    }

    .show-more {
        font-size: 18px;
    }

    .text-box {
        margin-bottom: 45px;
    }

    .margin-my {
        margin-top: 0;
    }

    .border-right-1 {
        border-right: none;
    }

    .border-right-2 {
        border-right: none;
    }

    .border-right-3 {
        border-right: none;
    }

    .margin-top-30 {
        margin-top: 44px;
    }

    .margin-t-30 {
        margin-top: 44px;
    }
}

@media(min-width:768px) {
    .absolute-arrow {
        position: absolute;
        right: 0;
        top: 70%;
    }

    .svg {
        width: 70px;
        height: 70px;
    }

    .absolute-2 {
        left: 39%;
    }

    .number {
        font-size: 35px;
    }

    .heading-3 {
        font-size: 48px;
    }

    .paragraph {
        font-size: 24px;
    }

    .mt-30 {
        margin-top: 0;
    }

    .margin-top-30 {
        margin-top: 0;
    }

    .border-right-3 {
        border-right: none;
    }

    .border-right-2 {
        border-right: 2px solid #fff;
    }

    .border-right-1 {
        border-right: 2px solid #fff;
    }

    .col-md-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-md-3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-md-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .padding-py-80 {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .companyname {
        padding-top: 30px;

    }

    .margin-bottom {
        margin-bottom: 10px;
    }

    .text-2 {
        padding-bottom: 25px;
    }

    .paragraph-3 {
        padding-bottom: 40px;
    }

    .padding-py {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .paragraph-last {
        padding-top: 22px;
        padding-bottom: 22px;
    }

    .services {
        padding-bottom: 15px;
    }

    .learn-more {
        padding-bottom: 10px;
    }

    .heading-1 {
        font-size: 53px;
    }

    .margin-t-30 {
        margin-top: 20px;
    }

    .show-more {
        font-size: 20px;
    }

    .events {
        font-size: 36px;
    }

    .free {
        font-size: 36px;
    }

    .btn-2 {
        padding: 10px 40px;
    }

}

@media(min-width:992px) {
    .absolute-arrow {
        position: absolute;
        right: 0;
        top: 60%;
    }

    .events {
        font-size: 36px;
    }

    .free {
        font-size: 36px;
    }

    .absolute-2 {
        left: 32%;
    }

    .box {
        border-radius: 150px;
    }

    .number {
        font-size: 35px;
    }

    .heading-3 {
        font-size: 48px;
    }

    .margin-t-30 {
        margin-top: 0;
    }

    .show-more {
        font-size: 12px;
    }

    .paragraph {
        font-size: 24px;
    }

    .mt-30 {
        margin-top: 0;
    }

    .margin-top-30 {
        margin-top: 0;
    }

    .border-right-1 {
        border-right: 2px solid #fff;
    }

    .border-right-2 {
        border-right: 2px solid #fff;
    }

    .border-right-3 {
        border-right: 2px solid #fff;
    }

    .mb-30 {
        margin-top: 0;
    }

    .col-lg-3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .heading-1 {
        font-size: 64px;
    }

}